        allow 127.0.0.1; # localhost
        allow 172.0.0.0/8; # locallan
        allow 81.174.128.108; # Chris Murfin
        allow 79.77.1.179; # Fin
        allow 192.168.1.165; # Fin local workstation
